@{
    ViewData["Title"] = "Email Confirmation Failed";
}


<section class="w-full h-full flex flex-col justify-center items-center bg-generic bg-cover bg-center">
  <section class="w-full flex flex-col justify-center items-center gap-[0.2rem]">
        <h1 class="w-full items-center justify-center flex text-[35px] font-[600] tracking-normal"> Email Confirmation Failed </h1>
        <p>Sorry, we could not confirm your email. The link may have expired or is invalid.</p>
        <img src="~/images/failed.png" class="h-[10rem] w-[10rem] flex mt-[10px]" />
    </section>
    
   
   <div class="w-full flex flex-col justify-center items-center gap-[1rem]">
        <a href="//Account/Register" 
            class="hover:bg-[#B83B3Be7] bg-[#B83B3B] pb-2.5 pt-2.5 pl-5 pr-5 inline-block text-white rounded-[5px] mt-[20px]"
            >
            Try Registering Again
        </a>
        
    </div>
</section>