@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
    <link rel="stylesheet" href="~/css/Login.css" />

<section class="w-full h-full flex justify-center items-center " >

    <div class="h-full w-[25%]  min-w-[23rem] max-w-[25rem] min-h-[30%] max-h-[75%] gap-[2.3rem] flex justify-start items-start flex-col  p-2 ">
        <div class="w-full h-auto flex flex-col justify-center items-center">
            <h2 class="w-full items-start justify-start flex text-[45px] font-[500] tracking-normal " > Login </h2>
            <h4 class="w-full items-start  justify-start flex text-1xl font-medium mt-[0.125rem] mb-[1.5rem]"> Hi, Welcome Back 👋 </h4>
            <!-- View -->
            <form asp-controller="Home" asp-action="Increment" class=" hover:cursor-pointer h-auto w-full flex justify-center items-center rounded-lg p-2 shadow-[0_0_3px_0_rgb(0_0_0/0.05)]/20">
                <button type="submit" class="flex gap-2.5 justify-center items-center hover:cursor-pointer ">
                    <img src="~/images/google.png" alt="" class="w-[1.0rem] h-[1.0rem] flex justify-center items-center">
                    <p class="font-medium hover:cursor-pointer text-1xl">Login With Google</p> 
                </button>
            </form>
        </div>

        <div class=" w-full h-auto flex justify-center items-center font-semibold text-[14px] text-gray-400 tracking-normal ">
            <div class=" grow-4 bg-gray-400 h-[1px]">  </div>
            <span class="grow-[5] flex justify-center items-center">Or Login With Email</span>
            <div class="grow-4 bg-gray-400 h-[1px]">  </div>
        </div>

     
        <form asp-action="LoginModel" method="post" class=" gap-5 text-1xl w-full h-auto flex flex-col justify-center items-center  font-thin">
            <!-- Hidden returnUrl so callback redirects correctly -->
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

            <div class = "w-full h-auto flex flex-col gap-1 justify-start items-start">
                <label asp-for="Email" class="w-full h-auto"></label>
                <div class="relative w-full h-auto">
                    <input asp-for="Email" placeholder="Enter your email " class=" placeholder:text-[#817d7dca] pl-[43px] not-visited:bg-[#c7c4c417] icon-input h-auto w-full text1x1 p-2 shadow-[0_0_2px_0_rgb(0_0_0/0.05)]/20 rounded-lg transition-all duration-200 hover:outline-0  focus-visible:outline-0 focus-visible:shadow-[0_0_3px_1px_rgb(0_0_0/0.05)]/20" />
                    <img src="~/images/mail.svg" alt="", class=" w-[20px] h-[20px] absolute left-[10px] top-1/2 transform-[translateY(-50%)] pointer-events-none">
                </div>
                <span asp-validation-for="Email" class="w-full h-auto text-[15px] font-thin p-0 text-red-600"></span>
            </div>

            <div class = "w-full h-auto flex flex-col gap-1 justify-start items-start">
                <label asp-for="Password" class="w-full h-auto"></label>

                <div class="relative w-full h-auto">
                    <input asp-for="Password" placeholder="Enter your password " type="password" class=" placeholder:text-[#817d7dca] pl-[43px] not-visited:bg-[#c7c4c417] icon-input h-auto w-full text1x1 p-2 shadow-[0_0_2px_0_rgb(0_0_0/0.05)]/20 rounded-lg transition-all duration-200 hover:outline-0  focus-visible:outline-0 focus-visible:shadow-[0_0_3px_1px_rgb(0_0_0/0.05)]/20" />
                    <img src="~/images/lock.svg" alt="", class=" w-[20px] h-[20px] absolute left-[10px] top-1/2 transform-[translateY(-50%)] pointer-events-none">
                </div>

                <span asp-validation-for="Password" class="w-full h-auto text-[15px] font-thin p-0 text-red-600"></span>
            </div>

            <div class="text-danger w-full h-auto text-[15px] font-thin p-0 self-start text-red-600 flex flex-row items-center justify-between">
                @if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary()
                }
                @if (ViewBag.LoginError != null)
                {
                    @Html.Raw(ViewBag.LoginError)
                }
            </div>

            <section class="w-full h-auto flex justify-between">
                <div class="flex w-auto h-auto gap-3 justify-start items-center hover:cursor-pointer">
                    <input asp-for="RememberMe" type="checkbox" class="hover:cursor-pointer w-[19px] h-[19px] flex justify-center items-center" />
                    <label asp-for="RememberMe" class="hover:cursor-pointer w-full h-auto"> Remember Me </label>
                </div>

                <a asp-route="" class="text-blue-900 hover:underline"> Forgot Password? </a>
            </section>

            <button class="w-full h-[3rem] rounded-lg
                bg-blue-700 flex justify-center items-center text-[15px]
                text-white hover:bg-[#155efce7] hover:cursor-pointer" type="submit">
                Login
             </button>
        </form>

        <p class="text-[14px] font-medium w-full h-auto flex gap-1 justify-center items-center"> 
            Not Registered Yet? 
            <span>
                <a href= "~/Register"  class="text-blue-900 hover:underline flex justify-center items-center "> Create An Account Now <img src="~/images/arrow.svg" alt="" class="h-[12px] w-[12px] hover:underline"> </a>
            <span/>
        </p>
    </div>
</section>

<script>
    $("#Email").on("focus", function () {
        $(this).data("placeholder", $(this).attr("placeholder"));
        $(this).attr("placeholder", "");
    });

    $("#Email").on("blur", function () {
        $(this).attr("placeholder", $(this).data("placeholder"));
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
