@model ResetPasswordViewModel

<section class="w-full h-full flex justify-center items-center " >
    <div class="h-full w-[25%]  min-w-[23rem] max-w-[25rem] min-h-[30%] max-h-[75%] gap-[2.3rem] flex justify-start items-start flex-col  p-2 ">
        
        <h2 class="w-full items-start justify-start flex text-[25px] font-[500] tracking-normal " > Reset Your Password </h2>
        <form asp-route="UpdatePassword" method="post" novalidate class="gap-5 text-1xl w-full h-auto flex flex-col justify-center items-center  font-thin">
            
            <input asp-for="token" type="hidden" value="@ViewBag.token"/>
            <input asp-for="UserID" type="hidden" value="@ViewBag.UserID"/>

            <div class = "w-full h-auto flex flex-col gap-1 justify-start items-start">
                <label asp-for="Password" class="w-full h-auto"></label>
 
                <div class="relative w-full h-auto">
                    <input asp-for="Password" placeholder="Enter your Password " autocomplete="new-password" type="password" class=" placeholder:text-[#817d7dca] pl-[43px] not-visited:bg-[#c7c4c417] icon-input h-auto w-full text1x1 p-2 shadow-[0_0_2px_0_rgb(0_0_0/0.05)]/20 rounded-lg transition-all duration-200 hover:outline-0  focus-visible:outline-0 focus-visible:shadow-[0_0_3px_1px_rgb(0_0_0/0.05)]/20" />
                    <img src="~/images/lock.svg" alt="", class=" w-[20px] h-[20px] absolute left-[10px] top-1/2 transform-[translateY(-50%)] pointer-events-none">
                </div>

                <span asp-validation-for="Password" class="w-full h-auto text-[15px] font-thin p-0 text-red-600"></span>
            </div>


            <div class = "w-full h-auto flex flex-col gap-1 justify-start items-start">
                <label asp-for="ConfirmPassword" class="w-full h-auto"></label>
 
                <div class="relative w-full h-auto">
                    <input asp-for="ConfirmPassword"  autocomplete="new-password" placeholder="Confirm your Password " type="password" class=" placeholder:text-[#817d7dca] pl-[43px] not-visited:bg-[#c7c4c417] icon-input h-auto w-full text1x1 p-2 shadow-[0_0_2px_0_rgb(0_0_0/0.05)]/20 rounded-lg transition-all duration-200 hover:outline-0  focus-visible:outline-0 focus-visible:shadow-[0_0_3px_1px_rgb(0_0_0/0.05)]/20" />
                    <img src="~/images/lock.svg" alt="", class=" w-[20px] h-[20px] absolute left-[10px] top-1/2 transform-[translateY(-50%)] pointer-events-none">
                </div>

                <span asp-validation-for="ConfirmPassword" class="w-full h-auto text-[15px] font-thin p-0 text-red-600"></span>
            </div>

            <div class="text-danger w-full h-auto text-[15px] font-thin p-0 text-red-600 self-start">
                @Html.ValidationSummary()
            </div>
            
            <button class="w-full h-[3rem] rounded-lg
                bg-blue-700 flex justify-center items-center text-[15px]
                text-white hover:bg-[#155efce7] hover:cursor-pointer" type="submit">
                Reset
             </button>

        </form>


    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
